<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milktea.milkteashop.dao.TeaAdminMapper" >
  <resultMap id="BaseResultMap" type="com.milktea.milkteashop.domain.TeaAdmin" >
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWD" property="passwd" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.milktea.milkteashop.domain.TeaAdmin" >
    insert into TEA_ADMIN (USER_NAME, PASSWD)
    values (#{userName,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.milktea.milkteashop.domain.TeaAdmin" >
    insert into TEA_ADMIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="passwd != null" >
        PASSWD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectByUserNameAndPasswd" parameterType="com.milktea.milkteashop.vo.UserLoginRequestVo" resultMap="BaseResultMap">
    select * from TEA_ADMIN
    where USER_NAME = #{userName,jdbcType=VARCHAR}
    and PASSWD = #{password,jdbcType=VARCHAR}
  </select>
</mapper>