<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milktea.milkteashop.dao.TeaStoreInfoMapper">
  <resultMap id="BaseResultMap" type="com.milktea.milkteashop.domain.TeaStoreInfo">
    <id column="STORE_NO" jdbcType="VARCHAR" property="storeNo" />
    <result column="CN_STORE_NAME" jdbcType="VARCHAR" property="cnStoreName" />
    <result column="CN_STORE_CITY" jdbcType="VARCHAR" property="cnStoreCity" />
    <result column="CN_STORE_ADDRESS" jdbcType="VARCHAR" property="cnStoreAddress" />
    <result column="CN_STORE_PICTURE" jdbcType="VARCHAR" property="cnStorePicture" />
    <result column="CN_STORE_INTRODUCTION" jdbcType="VARCHAR" property="cnStoreIntroduction" />
    <result column="US_STORE_NAME" jdbcType="VARCHAR" property="usStoreName" />
    <result column="US_STORE_CITY" jdbcType="VARCHAR" property="usStoreCity" />
    <result column="US_STORE_ADDRESS" jdbcType="VARCHAR" property="usStoreAddress" />
    <result column="US_STORE_PICTURE" jdbcType="VARCHAR" property="usStorePicture" />
    <result column="US_STORE_INTRODUCTION" jdbcType="VARCHAR" property="usStoreIntroduction" />
    <result column="LONGITUDE" jdbcType="DECIMAL" property="longitude" />
    <result column="LATITUDE" jdbcType="DECIMAL" property="latitude" />
    <result column="STORE_PHONE" jdbcType="VARCHAR" property="storePhone" />
    <result column="STORE_USER_NAME" jdbcType="VARCHAR" property="storeUserName" />
    <result column="STORE_PASSWD" jdbcType="VARCHAR" property="storePasswd" />
    <result column="STORE_STATUS" jdbcType="CHAR" property="storeStatus" />
    <result column="IS_DEFAULT" jdbcType="CHAR" property="isDefault" />
    <result column="IS_SEND" jdbcType="CHAR" property="isSend" />
    <result column="RESERVE_BEGIN_TIME" jdbcType="VARCHAR" property="reserveBeginTime" />
    <result column="RESERVE_END_TIME" jdbcType="VARCHAR" property="reserveEndTime" />
    <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    STORE_NO, CN_STORE_NAME, CN_STORE_CITY, CN_STORE_ADDRESS, CN_STORE_PICTURE, CN_STORE_INTRODUCTION, 
    US_STORE_NAME, US_STORE_CITY, US_STORE_ADDRESS, US_STORE_PICTURE, US_STORE_INTRODUCTION, 
    LONGITUDE, LATITUDE, STORE_PHONE, STORE_USER_NAME, STORE_PASSWD, STORE_STATUS, IS_DEFAULT, IS_SEND, 
    RESERVE_BEGIN_TIME, RESERVE_END_TIME, DELETE_FLAG, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TEA_STORE_INFO
    where STORE_NO = #{storeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TEA_STORE_INFO
    where STORE_NO = #{storeNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.milktea.milkteashop.domain.TeaStoreInfo">
    insert into TEA_STORE_INFO (STORE_NO, CN_STORE_NAME, CN_STORE_CITY, 
      CN_STORE_ADDRESS, CN_STORE_PICTURE, CN_STORE_INTRODUCTION, 
      US_STORE_NAME, US_STORE_CITY, US_STORE_ADDRESS, 
      US_STORE_PICTURE, US_STORE_INTRODUCTION, LONGITUDE, 
      LATITUDE, STORE_PHONE, STORE_USER_NAME, 
      STORE_PASSWD, STORE_STATUS, IS_DEFAULT, IS_SEND, 
      RESERVE_BEGIN_TIME, RESERVE_END_TIME, DELETE_FLAG, 
      UPDATE_TIME)
    values (#{storeNo,jdbcType=VARCHAR}, #{cnStoreName,jdbcType=VARCHAR}, #{cnStoreCity,jdbcType=VARCHAR}, 
      #{cnStoreAddress,jdbcType=VARCHAR}, #{cnStorePicture,jdbcType=VARCHAR}, #{cnStoreIntroduction,jdbcType=VARCHAR}, 
      #{usStoreName,jdbcType=VARCHAR}, #{usStoreCity,jdbcType=VARCHAR}, #{usStoreAddress,jdbcType=VARCHAR}, 
      #{usStorePicture,jdbcType=VARCHAR}, #{usStoreIntroduction,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{storePhone,jdbcType=VARCHAR}, #{storeUserName,jdbcType=VARCHAR}, 
      #{storePasswd,jdbcType=VARCHAR}, #{storeStatus,jdbcType=CHAR}, #{isDefault,jdbcType=CHAR}, #{isSend,jdbcType=CHAR}, 
      #{reserveBeginTime,jdbcType=VARCHAR}, #{reserveEndTime,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=CHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.milktea.milkteashop.domain.TeaStoreInfo">
    insert into TEA_STORE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeNo != null">
        STORE_NO,
      </if>
      <if test="cnStoreName != null">
        CN_STORE_NAME,
      </if>
      <if test="cnStoreCity != null">
        CN_STORE_CITY,
      </if>
      <if test="cnStoreAddress != null">
        CN_STORE_ADDRESS,
      </if>
      <if test="cnStorePicture != null">
        CN_STORE_PICTURE,
      </if>
      <if test="cnStoreIntroduction != null">
        CN_STORE_INTRODUCTION,
      </if>
      <if test="usStoreName != null">
        US_STORE_NAME,
      </if>
      <if test="usStoreCity != null">
        US_STORE_CITY,
      </if>
      <if test="usStoreAddress != null">
        US_STORE_ADDRESS,
      </if>
      <if test="usStorePicture != null">
        US_STORE_PICTURE,
      </if>
      <if test="usStoreIntroduction != null">
        US_STORE_INTRODUCTION,
      </if>
      <if test="longitude != null">
        LONGITUDE,
      </if>
      <if test="latitude != null">
        LATITUDE,
      </if>
      <if test="storePhone != null">
        STORE_PHONE,
      </if>
      <if test="storeUserName != null">
        STORE_USER_NAME,
      </if>
      <if test="storePasswd != null">
        STORE_PASSWD,
      </if>
      <if test="storeStatus != null">
        STORE_STATUS,
      </if>
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
      <if test="isSend != null">
        IS_SEND,
      </if>
      <if test="reserveBeginTime != null">
        RESERVE_BEGIN_TIME,
      </if>
      <if test="reserveEndTime != null">
        RESERVE_END_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeNo != null">
        #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreName != null">
        #{cnStoreName,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreCity != null">
        #{cnStoreCity,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreAddress != null">
        #{cnStoreAddress,jdbcType=VARCHAR},
      </if>
      <if test="cnStorePicture != null">
        #{cnStorePicture,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreIntroduction != null">
        #{cnStoreIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="usStoreName != null">
        #{usStoreName,jdbcType=VARCHAR},
      </if>
      <if test="usStoreCity != null">
        #{usStoreCity,jdbcType=VARCHAR},
      </if>
      <if test="usStoreAddress != null">
        #{usStoreAddress,jdbcType=VARCHAR},
      </if>
      <if test="usStorePicture != null">
        #{usStorePicture,jdbcType=VARCHAR},
      </if>
      <if test="usStoreIntroduction != null">
        #{usStoreIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="storePhone != null">
        #{storePhone,jdbcType=VARCHAR},
      </if>
      <if test="storeUserName != null">
        #{storeUserName,jdbcType=VARCHAR},
      </if>
      <if test="storePasswd != null">
        #{storePasswd,jdbcType=VARCHAR},
      </if>
      <if test="storeStatus != null">
        #{storeStatus,jdbcType=CHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=CHAR},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=CHAR},
      </if>
      <if test="reserveBeginTime != null">
        #{reserveBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveEndTime != null">
        #{reserveEndTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.milktea.milkteashop.domain.TeaStoreInfo">
    update TEA_STORE_INFO
    <set>
      <if test="cnStoreName != null">
        CN_STORE_NAME = #{cnStoreName,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreCity != null">
        CN_STORE_CITY = #{cnStoreCity,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreAddress != null">
        CN_STORE_ADDRESS = #{cnStoreAddress,jdbcType=VARCHAR},
      </if>
      <if test="cnStorePicture != null">
        CN_STORE_PICTURE = #{cnStorePicture,jdbcType=VARCHAR},
      </if>
      <if test="cnStoreIntroduction != null">
        CN_STORE_INTRODUCTION = #{cnStoreIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="usStoreName != null">
        US_STORE_NAME = #{usStoreName,jdbcType=VARCHAR},
      </if>
      <if test="usStoreCity != null">
        US_STORE_CITY = #{usStoreCity,jdbcType=VARCHAR},
      </if>
      <if test="usStoreAddress != null">
        US_STORE_ADDRESS = #{usStoreAddress,jdbcType=VARCHAR},
      </if>
      <if test="usStorePicture != null">
        US_STORE_PICTURE = #{usStorePicture,jdbcType=VARCHAR},
      </if>
      <if test="usStoreIntroduction != null">
        US_STORE_INTRODUCTION = #{usStoreIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        LONGITUDE = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        LATITUDE = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="storePhone != null">
        STORE_PHONE = #{storePhone,jdbcType=VARCHAR},
      </if>
      <if test="storeUserName != null">
        STORE_USER_NAME = #{storeUserName,jdbcType=VARCHAR},
      </if>
      <if test="storePasswd != null">
        STORE_PASSWD = #{storePasswd,jdbcType=VARCHAR},
      </if>
      <if test="storeStatus != null">
        STORE_STATUS = #{storeStatus,jdbcType=CHAR},
      </if>
      <if test="isDefault != null">
        IS_DEFAULT = #{isDefault,jdbcType=CHAR},
      </if>
      <if test="isSend != null">
        IS_SEND = #{isSend,jdbcType=CHAR},
      </if>
      <if test="reserveBeginTime != null">
        RESERVE_BEGIN_TIME = #{reserveBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="reserveEndTime != null">
        RESERVE_END_TIME = #{reserveEndTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where STORE_NO = #{storeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milktea.milkteashop.domain.TeaStoreInfo">
    update TEA_STORE_INFO
    set CN_STORE_NAME = #{cnStoreName,jdbcType=VARCHAR},
      CN_STORE_CITY = #{cnStoreCity,jdbcType=VARCHAR},
      CN_STORE_ADDRESS = #{cnStoreAddress,jdbcType=VARCHAR},
      CN_STORE_PICTURE = #{cnStorePicture,jdbcType=VARCHAR},
      CN_STORE_INTRODUCTION = #{cnStoreIntroduction,jdbcType=VARCHAR},
      US_STORE_NAME = #{usStoreName,jdbcType=VARCHAR},
      US_STORE_CITY = #{usStoreCity,jdbcType=VARCHAR},
      US_STORE_ADDRESS = #{usStoreAddress,jdbcType=VARCHAR},
      US_STORE_PICTURE = #{usStorePicture,jdbcType=VARCHAR},
      US_STORE_INTRODUCTION = #{usStoreIntroduction,jdbcType=VARCHAR},
      LONGITUDE = #{longitude,jdbcType=DECIMAL},
      LATITUDE = #{latitude,jdbcType=DECIMAL},
      STORE_PHONE = #{storePhone,jdbcType=VARCHAR},
      STORE_USER_NAME = #{storeUserName,jdbcType=VARCHAR},
      STORE_PASSWD = #{storePasswd,jdbcType=VARCHAR},
      STORE_STATUS = #{storeStatus,jdbcType=CHAR},
      IS_DEFAULT = #{isDefault,jdbcType=CHAR},
      IS_SEND = #{isSend,jdbcType=CHAR},
      RESERVE_BEGIN_TIME = #{reserveBeginTime,jdbcType=VARCHAR},
      RESERVE_END_TIME = #{reserveEndTime,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where STORE_NO = #{storeNo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByUserNameAndPasswd" parameterType="com.milktea.milkteashop.vo.UserLoginRequestVo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TEA_STORE_INFO
    where STORE_USER_NAME = #{userName,jdbcType=VARCHAR}
    and STORE_PASSWD = #{password,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" parameterType="com.milktea.milkteashop.domain.TeaStoreInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TEA_STORE_INFO
    <where>
        <if test="IS_DEFAULT != null">
            IS_DEFAULT = #{isDefault,jdbcType=CHAR}
        </if>
    </where>
  </select>
</mapper>
